<template>
    <div class="filters">
        <div class="filters__item">
            <div class="filters__label">Дата</div>
            <date-picker v-model="dates" range></date-picker>
        </div>

        <div v-if="osList.length" class="filters__item">
            <div class="filters__label">Операционная система</div>
            <select class="select" v-model="os">
                <option :value="null">Любая</option>
                <option v-for="item in osList" :value="item">{{item}}</option>
            </select>
        </div>

        <div v-if="archList.length" class="filters__item">
            <div class="filters__label">Архитектура</div>
            <select class="select" v-model="arch">
                <option :value="null">Любая</option>
                <option v-for="item in archList" :value="item">{{item}}</option>
            </select>
        </div>

    </div>
</template>

<script>
  import DatePicker from 'vue2-datepicker';
  import 'vue2-datepicker/index.css';
  import 'vue2-datepicker/locale/ru'
  import {getFiltersData} from "../services/Api";

  export default {
    name: "Filters",
    components: {DatePicker},
    data() {
      return {
        dates: null,
        os: null,
        arch: null,
        osList: [],
        archList: [],
      }
    },

    computed: {
      result() {
        const {os, arch} = this;

        return {
          os,
          arch,
          startDate: this.dates?.[0] || null,
          endDate: this.dates?.[1] || null
        }
      }
    },

    methods: {
      filtered() {
        this.$emit('filter', this.result);
      }
    },

    created() {
      getFiltersData()
        .then(({os, arch}) => {
          this.osList = os || [];
          this.archList = arch || [];
        })
        .catch(console.log)
    },

    watch: {
      dates() {
        this.filtered();
      },
      os() {
        this.filtered();
      },
      arch() {
        this.filtered();
      }
    }
  }
</script>

<style lang="scss">
    .filters {
        display: flex;
        flex-wrap: wrap;


        &__item {
            &:not(:last-of-type) {
                margin-right: 15px;
            }
        }
    }
</style>
