<template>
    <div class="table-wrap">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="table__th" v-for="column in columns" :key="column.code"
                    @click="sort(column.code)">
                    {{column.label}}
                    <sort-arrow v-if="sorting.sort === column.code" :order="sorting.order"></sort-arrow>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in items">
                <td v-for="col in row">
                    {{col}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
  import SortArrow from "./SortArrow";

  export default {
    name: "MainTable",
    components: {SortArrow},
    props: {
      sorting: {
        type: Object,
        default: () => ({
          sort: null,
          order: null
        })
      },
      tableData: {
        type: Array,
        default: () => []
      }
    },

    data() {
      return {
        columns: [
          {code: 'date', label: 'Дата'},
          {code: 'cnt', label: 'Число запросов'},
          {code: 'url', label: 'Самый популярный URL'},
          {code: 'browser', label: 'Самый популярный браузер'},
        ]
      }
    },

    computed: {
      items() {
        return this.tableData?.map(row => this.columns.map(col => row?.[col.code] || '-')) || []
      }
    },

    methods: {
      sort(code) {
        if (this.sorting.sort !== code) {
          this.$emit('sort', {sort: code, order: 'asc'})
        } else {
          this.$emit('sort', {sort: code, order: this.sorting.order === 'asc' ? 'desc' : 'asc'})
        }
      }
    }
  }
</script>

<style lang="scss">
    .table-wrap {
        max-width: 100%;
        overflow-x: auto;
    }

    .table {
        &__th {
            cursor: pointer;
        }
    }
</style>
