<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card mb-1">
                    <div class="card-header">Фильтры</div>
                    <div class="card-body">
                        <filters @filter="onFilter"></filters>
                    </div>
                </div>

                <div class="card mb-1">
                    <div class="card-header">Графики</div>
                    <div class="card-body">
                        <main-chart :filters="filters"></main-chart>
                    </div>
                </div>

                <div class="card mb-1">
                    <div class="card-header">Таблица</div>
                    <div class="card-body position-relative">
                        <main-table v-if="tableData.length" :table-data="tableData" :sorting="sorting" @sort="onSort"></main-table>
                        <div v-else>Информация отсутстует</div>
                        <loader v-if="loading"></loader>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
  import {getMainData} from "../services/Api";
  import Filters from "./Filters";
  import MainChart from "./chart/MainChart";
  import MainTable from "./MainTable";
  import Loader from "./Loader";

  export default {
    name: "MainComponent",

    components: {Loader, MainTable, MainChart, Filters},

    data() {
      return {
        loading: true,
        tableData: [],
        mainChartData: [],
        filters: {
          startDate: null,
          endDate: null,
          os: null,
          arch: null
        },
        sorting: {
          sort: 'date',
          order: 'desc'
        }
      }
    },

    computed: {
      request() {
        const {filters, sorting} = this;
        return {filters, sorting}
      },
      requests() {
        return this.tableData?.map(({date, cnt}) => ({date, cnt})) || []
      }
    },

    methods: {
      onFilter(filters) {
        for (let key in this.filters) {
          this.filters[key] = filters?.[key] || null;
        }
        this.getData();
      },

      onSort(sorting) {
        this.sorting.sort = sorting?.sort || null;
        this.sorting.order = sorting?.order || null;

        this.getData();
      },

      getData() {
        this.loading = true;
        this.getMainData().finally(() => {
          this.loading = false;
        });
      },

      getMainData() {
        return getMainData(this.request)
          .then(({logs}) => {
            this.tableData = logs || [];
          })
          .catch(console.log);
      },
    },

    created() {
      this.getData();
    }
  }
</script>
