<template>
    <svg class="sort-arrow" :class="{desc: order === 'desc'}"
         xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
            d="M13,7.70710678 L13,17.5 C13,17.7761424 12.7761424,18 12.5,18 C12.2238576,18 12,17.7761424 12,17.5 L12,7.70710678 L8.85355339,10.8535534 C8.65829124,11.0488155 8.34170876,11.0488155 8.14644661,10.8535534 C7.95118446,10.6582912 7.95118446,10.3417088 8.14644661,10.1464466 L12.1464466,6.14644661 C12.3417088,5.95118446 12.6582912,5.95118446 12.8535534,6.14644661 L16.8535534,10.1464466 C17.0488155,10.3417088 17.0488155,10.6582912 16.8535534,10.8535534 C16.6582912,11.0488155 16.3417088,11.0488155 16.1464466,10.8535534 L13,7.70710678 Z"/>
    </svg>
</template>

<script>
  export default {
    name: "SortArrow",
    props: {
      order: {
        type: String,
        default: 'asc'
      }
    }
  }
</script>

<style lang="scss">
    .sort-arrow {
        transform: rotate(180deg);

        &.desc {
            transform: none;
        }
    }
</style>
