<template>
    <div class="position-relative">
        <line-chart-generator
            v-if="chartData.datasets.length || loading"
            :chart-options="chartOptions"
            :chart-data="chartData"
            chart-id="main-chart"
            :height="200"
        />
        <div v-else>Информация отсутстует</div>
        <loader v-if="loading"></loader>
    </div>
</template>

<script>
  import {getChartData} from "../../services/Api";
  import {Line as LineChartGenerator} from 'vue-chartjs/legacy'
  import {
    Chart as ChartJS,
    Title,
    Tooltip,
    Legend,
    LineElement,
    LinearScale,
    CategoryScale,
    PointElement
  } from 'chart.js'

  ChartJS.register(Title, Tooltip, Legend, LineElement, LinearScale, CategoryScale, PointElement);

  import Loader from "../Loader";

  export default {
    name: 'MainChart',
    components: {Loader, LineChartGenerator},
    props: {
      filters: {
        type: Object,
        default: () => ({})
      }
    },
    data() {
      return {
        loading: true,
        chartOptions: {
          responsive: true,
          scales: {
            main: {
              type: 'linear',
              position: 'left',
              ticks: {beginAtZero: true, precision: 0},
              title: {
                display: true,
                text: 'Запросы'
              }
            },
            general: {
              type: 'linear',
              position: 'right',
              ticks: {beginAtZero: true, precision: 0},
              title: {
                display: true,
                text: 'Проценты'
              }
            }

          }
        },
        chartData: {
          labels: [],
          datasets: []
        }
      }
    },

    created() {
      this.getData();
    },

    methods: {
      getData() {
        this.loading = true;

        getChartData({filters: this.filters})
          .then(({items}) => {
            this.chartData.labels = items?.date;
            delete items.date;
            this.chartData.datasets = Object.entries(items).map(([key, value]) => {
              return {
                label: key === 'main' ? 'Число запростов' : key,
                yAxisID: key === 'main' ? 'main' : 'general',
                borderColor: key === 'main' ? '#ff0000' : "#0000ff",
                data: value
              }
            });
          })
          .catch(console.log)
          .finally(() => {
            this.loading = false;
          });
      }
    },

    watch: {
      filters: {
        deep: true,
        handler(value) {
          this.getData();
        }
      }
    }
  }
</script>
